img[alt*="000webhost"],
img[alt*="000webhost"][style],
img[src*="000webhost"],
img[src*="000webhost"][style],
body>div:nth-last-of-type(1)[style] {
    opacity: 0 !important;
    pointer-events: none !important;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
    display: none !important;
}


/* global css start */

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.woff2') format('woff2'), url('LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}


/* ARKAPLAN RENGİ */

.bgcolor-turkuaz {
    background-color: #119665;
}

.bgcolor-maviturkuaz {
    background-color: #119689;
}

.bgcolor-petrolmavi {
    background-color: #0b4566;
}

.bgcolor-lacivert {
    background-color: #030d2b;
}

.bgcolor-mor {
    background-color: #220547;
}

.bgcolor-kiremit {
    background-color: #a13206;
}

.bgcolor-turuncu {
    background-color: #bd240f;
}

.bgcolor-kturuncuv2 {
    background-color: #dd4d1d;
}

.bgcolor-turuncuv2 {
    background-color: #eb430c;
}

.bgcolora {
    background-color: #DE592C;
}

.bgcolorb {
    background-color: #FF794D;
}

.bgcolord {
    background-color: #009170;
}

.bgcolordv2 {
    background-color: #76c5b3;
}

.bgcolore {
    background-color: #2CDEB5;
}

.bgguzelacikgri {
    background-color: #ecebe5;
}


/* RENK */

.color-turkuaz {
    color: #119665;
}

.color-maviturkuaz {
    color: #119689;
}

.color-petrolmavi {
    color: #0b4566;
}

.color-lacivert {
    color: #030d2b;
}

.color-mor {
    color: #220547;
}

.color-kiremit {
    color: #8f3511!important;
}

.color-turuncu {
    color: #f5511b;
}

.color-kturuncuv2 {
    color: #dd4d1d;
}

.color-turuncuv2 {
    color: #eb430c;
}

.bgcolora {
    background-color: #DE592C;
}

.bgcolorb {
    background-color: #FF794D;
}

.colord {
    color: #009170;
}

.bgcolore {
    background-color: #2CDEB5;
}

.bgcolor-koyubordo {
    background-color: #450C03;
}


/* YAZI BOYUTU */

.fontsmaller {
    font-size: smaller;
}

.fontsmall {
    font-size: small;
}

.fontmedium {
    font-size: medium;
}

.fontlarge {
    font-size: larger;
}

.fontxxlarge {
    font-size: xx-large!important;
}


/* FONTLAR */

.footerpgr400 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.navblogo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.categories {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.input {
    border: solid 1.2px #882f0c93;
    border-radius: 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 13px;
    font-size: 25px;
    text-align: center;
}

.input:focus {
    border: solid 3px #719ECE;
}

.alert {
    margin: auto;
    padding-left: 10px!important;
    padding-bottom: 5px!important;
    text-align: left!important;
    align-items: center!important;
    border-left: solid 5px rgb(185 17 17)!important;
    font-size: 22px;
    color: rgb(229 2 2)!important;
    margin: auto;
    margin-bottom: 30px;
    /* margin-left: -30px; */
}

.alert-succsess {
    border-left: solid 5px #4BB543!important;
    color: #35ce2a!important;
    margin-bottom: 30px;
}

.shadow-1 {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.form-checkbox {
    margin: 0px;
    padding: 0px;
}


/* global css finish */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-moz-selection {
    /* Code for Firefox */
    background: #e37e2656;
}

 ::selection {
    background: #e37e2656;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(29, 29, 29, 0.7)), url("images/f4_60yil-min_1_50.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.logo {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 1001;
}

.header-text {
    position: relative;
    width: max-content;
    left: calc(50% - 885.38px / 2);
    top: calc(45% - 96px);
}

.header-text h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 500;
    font-family: League Spartan, Jura, sans-serif;
    /* color: #e37e26;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #e37e26; */
}

.header-text a {
    padding-top: 17.2px;
    text-align: center;
    position: absolute;
    left: calc(50% - 90px);
    top: 135px;
    height: 56px;
    width: 180px;
    background: #e37e26;
    border-radius: 45px;
    font-family: Jura;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.navi-bg {
    transition: 1200ms;
    width: 77px;
    height: 77px;
    background-color: #e37e26;
    border-radius: 40px;
    position: fixed;
    right: 62px;
    top: 46px;
    z-index: 1000;
}

.navi-label {
    border: 1px solid #aaaaaa8e;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 40px;
    position: fixed;
    right: 60px;
    top: 45px;
    z-index: 1006;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.navi-menu {
    transition-delay: 2000ms;
    transition: 1000ms;
    pointer-events: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    background-color: #e37e26;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    line-height: 4;
    text-align: center;
    font-family: Jura;
    font-weight: 300;
    font-size: 26px;
}

.navi-menu a {
    transition: 500ms;
    text-decoration: none;
    color: #fff;
}

.navi-menu a:hover {
    color: rgb(209, 209, 209);
}

.navi-check:checked~.navi-bg {
    transform: scale(60);
    -webkit-transform: scale(60);
    -moz-transform: scale(60);
    -ms-transform: scale(60);
    -o-transform: scale(60);
}

.navi-check {
    display: none;
}

.navi-check:checked~.navi-menu {
    opacity: 1;
    pointer-events: visible;
}

.navi-list {
    margin: auto
}

.navi-check:checked+.navi-label .navi-icon {
    background-color: transparent;
}

.navi-check:checked+.navi-label .navi-icon::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top: 0;
}

.navi-check:checked+.navi-label .navi-icon::after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    top: 0;
}

.navi-icon {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 20px;
    background-color: #000;
    position: relative;
}

.navi-icon::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 10px;
    transition: 400ms;
}

.navi-icon::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: -10px;
    transition: 400ms;
}

.header-photo {
    position: relative;
    margin-top: -210px;
    width: 100%;
    height: 485px;
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(29, 29, 29, 0.7)), url(1/images/747f2f_33.jpg) top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-photo h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 300px;
    text-transform: capitalize;
    font-family: Jura, sans-serif;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-size: 65px;
    z-index: 100;
}

.cont {
    position: relative;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    width: 100vw;
    /* height: 100vh; */
}

.filter-cont {
    box-sizing: border-box;
    padding: 40px 50px;
    position: absolute;
    top: 40px;
    left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Jura, sans-serif;
    margin: 0px;
    width: 420px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #dce1e1;
    border-radius: 25px;
    z-index: 100;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
}


/* 
.filter-itmes {
    width: 100%;
    height: max-content;
    position: relative;
} */

.filter-cont h3 {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: 18px;
    left: 28px;
}

.filter-cont label {
    display: flex;
    align-items: center;
    margin: 4px 20px;
}

.filter-radio {
    position: absolute;
    top: 30px;
    left: 65px;
}

.filter-radio {
    display: flex;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 3px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50px;
    height: 17px;
    width: 17px;
    border: 1px solid #e37e26;
    transition: 300ms;
}

input[type=checkbox]:checked {
    outline: 1px solid #e37e26;
    border-color: #fff;
    border-width: 1px;
    background-color: #e37e26;
}

.photo-cont {
    margin: auto;
    margin-top: 220px;
    position: relative;
    height: max-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.photo-cont a {
    transition: all .2s ease-in-out;
    border: 1px solid #000;
    position: relative;
    margin: 7px;
    /* border: 3px solid #e37e2644; */
    border-radius: 10px;
    margin-top: 40px;
    text-decoration: none;
    width: calc(100% - 14px);
    aspect-ratio: auto 16 / 9;
    background-color: gray;
}

.photo-cont a:last-child {
    margin-bottom: 50px;
}

.photo-cont a:hover {
    transform: scale(1.3);
    z-index: 100;
    background-image: linear-gradient(rgba(29, 29, 29, 0), rgba(29, 29, 29, 1));
}

.photo-item p {
    padding: 8px 20px;
    margin: 7px;
    transition: 600ms;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 17px;
    color: #fff;
    font-family: sans-serif;
    opacity: 0;
}

.photo-cont a:hover .photo-item p {
    opacity: 1;
}

.sort {
    position: absolute;
    top: -75px;
    right: 95px;
    margin-bottom: 50px;
}

select {
    box-sizing: border-box;
    padding: 0px;
    padding-left: 20px;
    padding-bottom: 2px;
    font-size: 18px;
    border: 2px solid #e37e264f;
    border-radius: 10px;
    font-family: Jura, sans-serif;
    font-weight: 500;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    width: 220px;
    height: 40px;
    background: url(1/images/keyboard_arrow_down_black_24dp.svg) no-repeat 180px #e37e268e;
}

select:focus {
    outline-color: #30303070;
}

.member_1,
.member_2,
.member_3,
.member_4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.member_1,
.member_2,
.member_3,
.member_4 h2 {
    text-align: center;
    font-family: Jura, sans-serif;
    text-align: center;
    font-size: 28px;
}

svg {
    width: 23.5px;
}

.plane svg {
    width: 30px;
}

.filter-selects {
    position: absolute;
    top: 80px;
    left: 35.5px;
}

#manufacture {
    width: 170px;
    height: 35px;
    margin-right: 17px;
    background: url(1/images/keyboard_arrow_down_black_24dp.svg) no-repeat 135px #e37e268e;
}

#model {
    width: 155px;
    height: 35px;
    background: url(1/images/keyboard_arrow_down_black_24dp.svg) no-repeat 115px #e37e268e;
}

.header-photo-global {
    min-width: 1100px;
    position: relative;
    height: 0;
    padding-top: 12.5%;
}

.header-photo-global img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-photo-global h1 {
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 57px;
    font-family: Jura, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.black-filter {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(29, 29, 29, 0.7));
}

.p-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    padding: 50px 100px;
    width: 100%;
    height: max-content;
    margin-top: 18px;
    margin-bottom: 50px;
}

.p-cont p {
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 2.2;
    letter-spacing: 1px;
}

.first-p {
    /* margin: 0 100px 60px 100px!important; */
    position: relative;
    margin-top: 0!important;
}

.left-p-cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
    position: relative;
    top: 20px;
    text-align: left;
}

.left-p-cont p {
    margin-left: 100px;
}

.left-p-cont img {
    margin: auto;
    height: 220px;
    object-fit: cover;
}

.left-p-cont figcaption {
    margin-top: 10px;
    /* position: absolute; */
    font-family: 'Times New Roman', Times, serif;
    /* top: 100%;
    left: -530px; */
    font-size: 15px;
}

.left-p-image-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-p-image-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-p-cont {
    /* position: relative;
    text-align: right;
    margin-right: 450px;
    margin-bottom: 130px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
    position: relative;
    top: 80px;
    text-align: right;
}

.right-p-cont img {
    margin: auto;
    height: 220px;
    object-fit: cover;
}

.right-p-cont p {
    margin-right: 100px;
}

.right-p-cont figcaption {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}


/* FOOTER SLİDER */

.footer-slider-cont {
    box-sizing: content-box;
    position: relative;
    width: auto;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.yatay-scroll {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-photo-cont {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    width: 2560px;
    height: max-content;
    padding: 20px;
    padding-left: 75px;
    transition: all 0.5s ease-in-out;
}

.slider-photo-item {
    box-sizing: content-box;
    margin: 8px;
    margin-right: 125px;
    position: relative;
    width: 520px;
    aspect-ratio: auto 16 / 9;
}

.slider-photo-item img {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    margin: auto;
    max-width: 1920px;
}

.btn-scroll {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 150px;
    height: 60px;
    width: 60px;
    border: 1px solid #dce1e1;
    box-shadow: 0px 0px 18px 15px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 3;
}

#left-scroll-btn {
    position: absolute;
    top: calc(50% - 30px);
    left: 115px;
    background: url(images/chevron-left-solid.svg) no-repeat 45% 50%;
    background-size: 24px;
}

#right-scroll-btn {
    background-size: 50px;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    position: absolute;
    top: calc(50% - 30px);
    right: 115px;
    background: url(images/chevron-left-solid.svg) no-repeat 45% 50%;
    background-size: 24px;
}

.btn-layer2 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: calc(50% - 30px);
    right: 115px;
    z-index: 2;
}

.btn-layer1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: calc(50% - 30px);
    left: 115px;
    z-index: 2;
}


/* CONTACT PAGE */

.sahne {
    background: linear-gradient(rgba(29, 29, 29, 0.52), rgba(29, 29, 29, 0.6));
}

.links-cont {
    height: 800px;
    width: 600px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

.mailto-cont {
    height: max-content;
    margin: auto;
    margin: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
    padding-top: 0;
}

.mailto-cont a {
    transition: 500ms;
    color: rgb(49, 49, 49);
    font-size: 25px;
    font-family: Jura, sans-serif;
    font-weight: 500;
    line-height: 90px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.mailto-cont a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    width: 400px;
    border: 1px solid #000;
}

.mailto-cont a:hover {
    text-decoration-color: #000;
}

.insta-cont {
    position: relative;
    top: -25px;
    right: 133px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insta-cont a p svg {
    color: rgb(49, 49, 49);
    border-radius: 14px;
    transition: 250ms;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    padding: 3.3px;
    margin-left: -7px;
}

.insta-cont a {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.insta-cont a:hover svg {
    color: #fff;
    background-color: #fff;
    /* color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    background: -webkit-radial-gradient(33% 100% circle, #d8b467 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #e4be6c 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}


/* 
.insta-cont a:hover .mailto-cont a {
    transform: translateX(-13px);
} */

.insta-cont a:last-child {
    margin-bottom: 0;
}

.insta-cont a p {
    line-height: 118px;
    /*SAKIN ELLEME ÇOK GÜZEL AYARLADIM*/
}

.formcont {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formitem {
    padding-bottom: 50px;
    margin: 5px;
    width: 325px;
}

.formitem:first-child {
    padding-bottom: 30px;
}

.formitem:nth-child(2) {
    padding-bottom: 40px;
}

.formitem:nth-child(3) {
    padding-bottom: 25px;
}

.forminput {
    height: 70px;
    font-size: 18px;
    width: 325px;
    padding: 30px;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    border: solid 1.2px #882f0c93;
    border-radius: 38px;
    outline: none;
}

#formtextarea {
    font-family: Lato, sans-serif;
    width: 325px;
    max-width: 395px;
    height: 250px;
    max-height: 400px;
    font-size: 15px;
    padding-left: 36px;
}

#submit-btn-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    margin: 0px;
    margin-top: 10px;
}

#submit-btn-cont>input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    background-color: rgb(191, 233, 219);
    border: 1px solid rgba(0, 0, 0, 0.104);
    height: 50px;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    /* box-shadow: 4px 4px 8px #87878748; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transition: 300ms;
}

#submit-btn-cont>input:hover {
    background-color: rgb(130, 216, 189);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.phpmail {
    width: 600px;
}

.team {
    margin-bottom: 220px;
}

.team-header {
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(29, 29, 29, 0.87));
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 110px;
}

.team-member {
    position: relative;
    padding: 40px;
    width: 450px;
    height: 670px;
    margin: 20px;
    margin-left: calc((100% - 900px) / 4);
    margin-right: calc((100% - 900px) / 4);
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #87878748;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.team-member img {
    position: relative;
    top: -25px;
}

.team-member-info {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.team-member-info h2 {
    position: relative;
    top: -40px;
    font-size: 33px;
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.team-member-info p {
    position: relative;
    font-size: 18px;
    top: -30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.7px;
    color: rgb(0, 0, 0);
}

.team-member-data {
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #144dc758;
    border-radius: 50px;
}

.photos-data {
    transition: 1000ms;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photos-data-item {
    -o-transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    transition: background-color 300ms;
    background-image: linear-gradient(45deg, rgb(246, 246, 246, 0.85), rgb(235, 234, 234, 0.85), rgb(220, 220, 220, 0.85));
    margin: 3px;
    padding: 6px;
    /* padding-right: 15; */
    width: 33%;
    height: 39px;
    font-size: 12.5px;
    font-weight: 600;
    border: 1px solid #213c75af;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    background-image: -o-linear-gradient(transparent);
    background-image: -webkit-linear-gradient(transparent);
    background-image: -moz-linear-gradient(transparent);
    background-image: -ms-linear-gradient(transparent);
    background-image: linear-gradient(transparent);
}

.photos-data-item:hover {
    background-color: rgb(255, 255, 255);
}

.military {
    font-size: 12px;
}

.photos-data-item-number-circle {
    border: 1px solid #213c75af;
    border-radius: 50px;
    padding: 1px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4.3px;
    margin-right: 7px;
    width: max-content;
}

.member-insta {
    font-size: 29px;
    font-family: League Spartan, Jura, sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 650ms;
    width: 100%;
    /* align: left; */
}

.member-insta svg {
    transition: 150ms;
}

.member-insta a {
    padding-top: 6px;
    padding-right: 22px;
    margin-left: -8px;
}

.member-insta a[target="_blank"]:hover svg {
    transform: scale(1.4);
}

.team-member-mailto {
    transition: 150ms;
    text-decoration: none;
    color: #000;
    margin-top: 2px;
}

.team-member-mailto:hover {
    transform: scale(1.4);
}

footer {
    margin-top: 20px;
    padding: 0px;
    padding-left: 5%;
    height: max-content;
    background: #e37e26;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
    font-family: Jura, sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1.7px;
}

footer li {
    list-style: none;
    line-height: 1.7;
    letter-spacing: 6.8px;
}


/* 
footer li::before {
    content: "\2022";
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
} */

footer li a {
    color: #fff;
}

.footer-li-cont {
    margin: 40px;
    margin-left: -270px;
}

.footer-title {
    font-size: 38px;
    font-family: League Spartan, sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.footer-logo-cont h6 {
    font-size: 13.5px;
    font-family: Jura, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.logo h1 {
    font-size: 18px;
    font-family: League Spartan, sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}


/* YUKARI ÇIK BUTTON */

#yukari-cik {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 271px;
    right: 100px;
    text-indent: -9999px;
    z-index: 9999;
    display: none;
    background: url("1/../Resimler/yukari.webp");
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}